
* {
    box-sizing: border-box;
}

html {
    background-color: #1f0000;
}

body {
    background-color: #dddddd;
    width: 48%;
    text-align: center;
    border: 1px solid green;
    margin: 32px auto;
}

#anim-canvas {
    /* width: 152px; */
    /* height: 192px; */
    /* position: relative; */
    border: 1px solid red;
    margin: inherit;
}

canvas {
    /* width: 97%; */
    /* border: 4px solid black; */
    margin: inherit;
}

.flex-container {
    display: flex;
    justify-content: center;
}

#word-to-guess, #message {
    width: 128px;
    border: 2px solid purple;
    margin: inherit;
}

/* #message { */
    /* position: absolute; */
    /* top: 320px; */
    /* left: 314px; */
    /* height: 196px; */
/* } */

span {
    /* visibility: hidden; */
    /* visibility: visible; */
    width: 32px;
    background-color: yellow;
    margin: 8px;
}

