
* {
    box-sizing: border-box;
}

html {
    font-family: "East Sea Dokdo", cursive;
    background-color: #1f0000;
}

body {
    background-color: #dddddd;
    width: 48%;
    text-align: center;
    border: 1px solid green;
    margin: auto;
    margin-bottom: 24px;
}

h1 {
    font-size: 5em;
    line-height: 96px;
}

#canvas-container {
    /* width: 152px; */
    /* height: 192px; */
    /* position: relative; */
    /* border: 1px solid red; */
    margin: inherit;
}

canvas {
    /* width: 97%; */
    /* border: 4px solid black; */
    margin: inherit;
}

.flex-container {
    display: flex;
    justify-content: center;
}

#word-to-guess, #message {
    font-family: "Sriracha", cursive;
    width: 64%;
    border: 4px solid #400808;
    margin: inherit;
}

/* #message { */
    /* position: absolute; */
    /* top: 320px; */
    /* left: 314px; */
    /* height: 36px; */
/* } */

span {
    visibility: hidden;
    min-width: 32px;
    background-color: yellow;
    margin: 8px;
}

#game-state {
    visibility: hidden;
}

